.article-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  @media @bw1170 {
    flex-direction: column;
    max-width: 708px;
  }


  &:hover {
  .article-card__picture {
    box-shadow: 0px 0px 30px 0px rgba(31, 31, 30, 0.55);
  }
}
& + .article-card {
  margin-top: 120px;
  &::before {
      content: "";
      display: block;
      position: absolute;
      margin: 0 auto 60px;
      bottom: 100%;
      left: 0;
      right: 0;
      max-width: 1255px;
      width: 100%;
      height: 1px;
      background-color: @black;
      pointer-events: none;
    }  
  } 

  &__link {
    margin-right: 60px;
    display: block;
    width: 467px;
    text-decoration: none;
    font-size: 0;
    &:hover {
        & ~ .article-card__info {
            .article-card__title-link {
                color: @red;
                text-decoration-color: @red;
            }
        }
    }
  }
  &__picture {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: box-shadow 0.2s;
    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-top: 62.715%;
    }
  }
  &__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
  &__arrow {  
    position: absolute;
    right: 0;
    bottom: 30px;
    color: inherit;
    transition: none;
   }

 &__info {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 150px;
  @media @bw768 {
    padding-bottom: 110px;
    padding-right: 0;
    padding-top: 8px;
  }
 }
 &__time {
  margin: 0 40px;
  color: @black;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
 
  @media @bw768 {
    font-size: 14px;
    margin-bottom: 20px;
 }
}
 &__title-link,
 &__description {
  max-width: 470px;
  @media @bw1020 {
   max-width: 540px;
 }
 @media @bw768 {
  max-width: 100%;
 }
}

 &__title-link {
  margin: auto 0 40px;
  color: @black;
  text-decoration-color: transparent;
  transition: color 0.2s, text-decoration-color 0.2s;
  @media @bw1020 {
   margin: auto 0 20px;
  }
  @media @bw768 {
    margin: auto 0 10px;
    max-width: 100%;
  }
  &:hover {
    color: @red;
    text-decoration-color: @red;
  }
 }
 &__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
   @media @bw1020 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
   }
   @media @bw768 {
    font-size: 16px;
    line-height: 21.79px;
   }
 }
 &__description {
  margin: 0;
  @media @bw768 {
    font-size: 14px;
    line-height: 19px;
    max-width: 100%;
  }
 }
}

