.listing {
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 .container();

 &__events-list {
   display: flex;
   flex-wrap: wrap;
   gap: 115px 58px;
   @media @bw1660 {
     gap: 90px 40px;
    }
    @media @bw1020 {
      gap: 90px 30px;
    }
    @media @bw650 {
      gap: 60px 0;
    }
     @media @bw650 {
      justify-content: center;
     }
  }

  &__events {
    padding: 100px 0 150px;
  }
  &__main {
    flex: 1 0 auto;
  }

  &__event-card {
    width: calc(33.3333% - 38.666px);
    @media @bw1660 {
      width: calc(33.3333% - 26.666px);
    }
    @media @bw1020 {
      width: calc(50% - 15px);
    }
    @media @bw650 {
      max-width: 450px;
      width: 100%;
    }
  }
  &__link {
    margin-top: 70px;
    margin-bottom: 95px;
  }
} 
.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #1f1f1f;
  cursor: pointer;
  width: 100%;
}   
.link--all {

 -webkit-box-pack: end;
 -ms-flex-pack: end;
 justify-content: flex-end;
 -webkit-box-align: baseline;
 -ms-flex-align: baseline;
 align-items: baseline;
  gap: 10px;
}