.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  background-color:rgba(222, 222, 222, 0.5);
  backdrop-filter: blur(20px);
  z-index: 100;
  &__container {
  .container();
  }
  &__logo {
    flex-shrink: 0;
    font-size: 0;
    width: 202px;
    height: 147px;
  }
  &__logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
   }

  &__nav { 
    display: flex;
    gap: 50px;
   }

  &__nav-link {
    color:@black ;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    transition: color 0.2s;
   }

   &__right-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 202px;
   }
}